# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

.DS_Store

**/__pycache__/

uploads/*
temporal-datasets/*
images/*

ckpt_koniq10k.pt
data/
upload_manager copy.py
yolov3-kitti.weights

qcmanager/data/*
qcmanager/ckpt_koniq10k.pt
qcmanager/yolov3-kitti.weights

!uploads/.gitkeep
!temporal-datasets/.gitkeep
!images/.gitkeep
!qcmanager/data/samples/.gitkeep
