/* Part 0: searchview/manageview 선택 버튼 */
.App {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
}
.App-header {
  text-align: center;
  align-items: center;
  background-color: #259a6d;
  min-height: 100px;
  display: grid;
  grid-template-columns: 15% 20% 30% 20% 15%;
  justify-content: center;
  font-size: calc(30px + 3vmin);
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

/* 공통 양식 */
.ContainerTitle {
  grid-row: 1;
  justify-self: start;
  font-weight: bold;
  align-self: center;
}
.ContainerDetail {
  width: 100%;
  height: 100%;
  grid-row: 2;
  justify-self: start;
}

/* Par1: 업로드 */
.UploadContainer {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  align-items: center;
  grid-template-rows: 40% 60%;
}
.Uploaderbar {
  margin-top: 7px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 63% 7%;
  /* gap : 1%; */
}

/* Par2: 필터 */
.SearchContainer {
  display: grid;
  grid-row: 3;
  grid-column: 2;
  grid-template-rows: 12% 88%;
  height: 100%;
  align-items: center;
}
.SearchContainerDetail{
  margin-top: 7px;
  width: 100%;
  height: 100%;
  grid-row: 2;
  justify-self: start;
  display: grid;
  grid-template-rows: 10% 40% 40% 10%;
  grid-template-columns: 15% 15% 70%;
  align-items: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.HighLevelGroup {
  width: 100%;
  height: 100%;
  grid-column: 1;
  display: grid;
  justify-self: start;
  align-self: center;
  align-items: center;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: rgb(38, 73, 132);
}
.LowLevelGroup {
  width: 100%;
  height: 100%;
  grid-column: 2;
  display: grid;
  justify-self: start;
  align-self: center;
  align-items: center;
  text-align: left;
  font-weight: bold;
  color: rgb(38, 73, 132);
}
.filters {
  grid-column: 3;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: grid;
  justify-self: start;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.filters_qc {
  grid-column: 3;
  grid-row: 2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 6% 7% 8% 7% 11% 7% 7% 7% 10% 7%  ;
  justify-self: start;
  justify-items: start;
  align-self: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.filters_sensor {
  grid-column: 3;
  grid-row: 3;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 4% 27% 5% 27% 4% 27%;
  border-bottom: 1px solid lightgray;
  justify-self: start;
  justify-items: start;
  align-items: center;
  align-self: center;
}
.searchbar {
  padding: 0px;
  font-size: 8px;
  width: 30%;
  height: 100%;
  align-items: center;
}
.searchbar input[type="text"] {
  width: 100%;
}
.Searcher {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 60%;
}

/* Par3: 리스트뷰 */
.ListviewContainer {
  display: grid;
  grid-row: 5;
  grid-column: 2;
  height: 100%;
  width: 100%;
  grid-template-rows: 8% 92%;
}

